body{
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	margin: 0;
	padding: 0;
	position: relative;
	/*@media(--mobile){
		overflow-y: scroll;
	}*/
}
.botones{
	position: fixed;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 2em;
	height: 30%;
	width: 30px;
	top: 35%;
	right: 4em;
	z-index: 1500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column
}
.botones.scroll .boton.activo:after{
	background: white;
}
.botones.scroll .boton:after{
	background: #ffffff;
	background: rgba(255, 255, 255, 0.5);
}
.botones .boton{
	width: 100%;
	height: 100%;
	position: relative
}
.botones .boton.activo:after{
	background: #007993;
}
.botones .boton:after{
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	background: #007993;
	background: rgba(0, 121, 147, 0.5);
	box-sizing: border-box;
	border-radius: 50%;
	top: 16%;
	right: 0;
	transition: .3s;
}
img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
}*/
.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 1001;
	transition: .3s;
}
.header.scroll{
	background: white;
	padding: 1em 0;
}
.header.fondo .contenedor{
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0) invert(1);
}
.header.activo .contenedor .menu:nth-of-type(1){
	top: 0 !important;
}
.header.activo .contenedor .menu:nth-of-type(2){
	bottom: 0 !important;
}
.header.activo .contenedor .close{
	visibility: visible;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: calc(100% - 12em);
	box-sizing: border-box;
	z-index: 1200;
	position: relative;
}
.header .contenedor .navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between
}
.header .contenedor .navbar .menu{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	transition: 1s
}
.header .contenedor .navbar .menu .item{
	text-decoration: none;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-transform: uppercase;
	color: #007993;
	font-size: 19.2px;
	font-size: 1.2rem;
	margin-left: 2em
}
.header .contenedor .navbar .menu .item.activo{
	position: relative
}
.header .contenedor .navbar .menu .item.activo:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	bottom: -5px;
	left: 0;
	background: #007993;
	transition: .3s;
}
.header .contenedor .navbar .logo{
	width: 15%;
	transition: 1.2s;
}
.header .contenedor .burger{
	background: none;
	border: none;
	cursor: pointer;
	display: none;
	transition: 1.2s;
}
.header .contenedor .burger img{
	width: 32px;
	width: 2rem;
}
.header .contenedor .burger:focus{
	outline: none;
}
.header .contenedor .close{
	background: none;
	border: none;
	position: absolute;
	color: white;
	font-size: 40px;
	font-size: 2.5rem;
	right: 0;
	visibility: hidden;
}
.margen{
	padding: 10em 6em 4em;
	height: 100vh;
	box-sizing: border-box;
}
.contacto{
	max-height: 100vh;
	overflow: hidden;
	background: white;
}
.contacto .grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 4em;
	padding-bottom: 0;
	position: relative;
	padding-top: 11em;
}
.contacto .grid .animanos{
	color: #009270;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 48px;
	font-size: 3rem;
}
.contacto .grid .informacion{
	list-style: none
}
.contacto .grid .informacion li{
	margin-bottom: 1em
}
.contacto .grid .informacion li a{
	color: #009270;
	font-weight: 600;
	text-decoration: none;
}
.contacto .grid .sociales{
	display: flex;
	list-style: none;
	width: 40%;
	margin-top: 2em;
}
.contacto .grid .sociales .item{
	margin-right: 1em;
}
.contacto .grid .formulario{
	box-sizing: border-box;
	padding: 0 2em 2em;
	border-radius: 2em;
	margin-right: 3em
}
.contacto .grid .formulario .title{
	color: #007993;
	font-size: 19.2px;
	font-size: 1.2rem;
}
.contacto .grid .formulario .contact{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 0 1em;
	margin: 0;
	padding: 0
}
.contacto .grid .formulario .contact input, .contacto .grid .formulario .contact textarea{
	background: none;
	border: none;
	border-bottom: 2px solid rgba(0, 121, 147, 0.5);
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	padding: 1em;
	transition: .3s;
	color: #007993;
	width: 90%
}
.contacto .grid .formulario .contact input::placeholder,.contacto .grid .formulario .contact textarea::placeholder{
	color: #007993;
	color: rgba(0, 121, 147, 0.5);
}
.contacto .grid .formulario .contact input:focus,.contacto .grid .formulario .contact textarea:focus{
	border-bottom-color: #007993;
	outline: none;
}
.contacto .grid .formulario .contact textarea{
	grid-column: 2 span;
}
.contacto .grid .formulario .contact input:nth-of-type(3){
	grid-column: 2 span;
}
.contacto .grid .formulario .contact .btn{
	color: white;
	border: 2px solid white;
	padding: 1em 2em;
	text-transform: uppercase;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-decoration: none;
	border-radius: 2em;
	font-size: 16px;
	font-size: 1rem;
	transition: .3s
}
.contacto .grid .formulario .contact .btn:hover{
	box-shadow: 0 0 50px #00b5ff;
}
.contacto .grid .formulario .contact .btn{
	background: rgb(0, 121, 147);
	background: linear-gradient(90deg, rgba(0, 121, 147, 1) 0%, rgba(0, 146, 112, 1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	border: none;
	padding: .5em 2em;
	width: 50%;
	margin-top: 1em;
	background: none;
	font-size: 16px;
	font-size: 1rem
}
.contacto .grid .formulario .contact .btn:hover{
	border-color: #00caf5;
	background: #00caf5;
	color: #007993;
}
.contacto .grid .footer{
	display: flex;
	flex-direction: column;
	align-content: center;
	grid-column: 2 span;
	background: #007993;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 1em;
	box-sizing: border-box
}
.contacto .grid .footer .menu{
	display: flex;
	justify-content: center;
	list-style: none
}
.contacto .grid .footer .menu .item{
	margin-right: 2em
}
.contacto .grid .footer .menu .item a{
	color: white;
	text-decoration: none;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}
.contacto .grid .footer .copy{
	display: flex;
	justify-content: center;
	color: white;
	margin-bottom: 0;
}
@media (max-width: 500px){
	.header{
		padding: .5em 0
	}
	.contacto{
		height: auto;
		padding: 2em
	}
	.contacto .grid .item{
		width: 80%;
	}
	.contacto .grid .sociales{
		width: 100%
	}
}
@media (max-width: 800px){
	.header .contenedor{
		width: calc(100% - 5em)
	}
	.header .contenedor .navbar .menu{
		position: fixed;
		left: 0;
		width: 100% !important;
		margin: 0 !important;
		height: 50vh;
		background: #007993;
		background: rgba(0, 121, 147, 0.5);
		flex-direction: column;
		justify-content: flex-end;
		align-items: center
	}
	.header .contenedor .navbar .menu .item{
		color: white;
		font-size: 2rem;
		margin-bottom: 2em;
	}
	.header .contenedor .navbar .menu:nth-of-type(1){
		top: -100%;
	}
	.header .contenedor .navbar .menu:nth-of-type(2){
		bottom: -100%;
		top: inherit;
		justify-content: flex-start;
	}
	.header .contenedor .navbar .logo{
		margin: 0
	}
	.header .contenedor .burger{
		display: block
	}
	.contacto .grid{
		grid-template-columns: 1fr
	}
}