body{
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
}
/*.botones{
	position: fixed;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 2em;
	height: 30%;
	width: 30px;
	top: 35%;
	right: 4em;
	z-index: 1500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media(--mobile){
		right: 2em;
	}
	&.scroll{
		& .boton{
			&.activo{
				&:after{
					background: white;
				}
			}
			&:after{
				background: color(white a(50%));
			}
		}
	}
	& .boton{
		width: 100%;
		height: 100%;
		position: relative;
		&.activo{
			&:after{
				background: var(--colorPrincipal);
			}
		}
		&:after{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background: color(var(--colorPrincipal) a(50%));
			box-sizing: border-box;
			border-radius: 50%;
			top: 16%;
			right: 0;
			transition: .3s;
		}
	}
}*/
img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
  display: none;
  @media(--mobile){
  	height: auto;
  }

}*/
/*.active{
  animation: slideDown 1s forwards;
  z-index: 1000;
  display: block;
  
}
.prev{
  z-index: 50;
  display: block;
}*/
.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 1001;
	transition: .3s;
}
.header.scroll{
	background: white;
	padding: 1em 0;
	border-bottom: 3px solid #00caf5;
}
.header.activo .contenedor .menu:nth-of-type(1){
	top: 0 !important;
}
.header.activo .contenedor .menu:nth-of-type(2){
	bottom: 0 !important;
}
.header.activo .contenedor .close{
	visibility: visible;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: calc(100% - 12em);
	box-sizing: border-box;
	z-index: 1200;
	position: relative;
}
.header .contenedor .navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header .contenedor .navbar .menu{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	transition: 1s;
}
.header .contenedor .navbar .menu .item{
	text-decoration: none;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-transform: uppercase;
	color: #007993;
	font-size: 19.2px;
	font-size: 1.2rem;
	margin-left: 2em;
}
.header .contenedor .navbar .logo{
	width: 15%;
	transition: 1.2s;
}
.header .contenedor .burger{
	background: none;
	border: none;
	cursor: pointer;
	display: none;
	transition: 1.2s;
}
.header .contenedor .burger img{
	width: 32px;
	width: 2rem;
}
.header .contenedor .burger:focus{
	outline: none;
}
.header .contenedor .close{
	background: none;
	border: none;
	position: absolute;
	color: white;
	font-size: 40px;
	font-size: 2.5rem;
	right: 0;
	visibility: hidden;
}
.cls-22{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.cls-25{
	transition: .3s;
	fill: white
}
.cls-25:hover{
	fill: #fcd121;
}
.margen{
	padding: 10em 6em 4em;
	height: 100vh;
	box-sizing: border-box;
}
.hero{
	box-sizing: border-box;
	position: relative;
}
.hero.animacion .copy .item:first-child{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;
	animation-duration: 1.6s;
	-webkit-animation-duration: 1.6s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease -out;
}
.hero.animacion .copy .item:last-child{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}
.hero.animacion{
	visibility: visible !important;
}
.hero #particles-js{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.hero .copy{
	display: grid;
	grid-template-columns: 4fr 3fr;
	height: 100%;
	transition: .3s;
}
.hero .copy .item:first-child{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.hero .copy .item:last-child{
	padding-top: 1.5em;
}
.hero .copy .item .title{
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 128px;
	font-size: 8rem;
	color: #007993;
	color: rgba(0, 121, 147, 0.78039);
	margin: 0;
}
.hero .copy .item .title b{
	color: rgb(0, 121, 147);
	color: -moz-linear-gradient(90deg, rgba(0, 121, 147, 1) 0%, rgba(0, 146, 112, 1) 100%);
	color: -webkit-linear-gradient(90deg, rgba(0, 121, 147, 1) 0%, rgba(0, 146, 112, 1) 100%);
	color: linear-gradient(90deg, rgba(0, 121, 147, 1) 0%, rgba(0, 146, 112, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1);
}
.hero .copy .item .title strong{
	color: #007993;
}
.hero .copy .item .subtitle{
	text-transform: uppercase;
	color: #007993;
	color: rgba(0, 121, 147, 0.8);
	font-weight: 600;
	font-size: 24px;
	font-size: 1.5rem;
	margin: -2em 0 0;
}
.hero .copy .item .ilustracion{
	width: 90%;
}
.hero .copy .item .btn{
	color: white;
	border: 2px solid white;
	padding: 1em 2em;
	text-transform: uppercase;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-decoration: none;
	border-radius: 2em;
	font-size: 16px;
	font-size: 1rem;
	transition: .3s;
}
.hero .copy .item .btn:hover{
	box-shadow: 0 0 50px #00b5ff;
}
.hero .copy .item .btn{
	background: rgb(0, 121, 147);
	background: linear-gradient(90deg, rgba(0, 121, 147, 1) 0%, rgba(0, 146, 112, 1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	border: none;
}
.about{
	background: #007993;
	align-items: center
}
.about.active, .about.prev{
	display: flex;
}
.about.animacion .grid .item:first-child .contenedor{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}
.about.animacion .grid .item:last-child{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}
.about .grid{
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: white;
	justify-content: space-evenly;
	/*@media(--tablet){
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			& .img{
				width: 80%;
				margin-left: 25%;
			}
		}*/
}
.about .grid .item:last-child{
	transform: translateX(150%);
}
.about .grid .item:first-child{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4em;
	align-items: center;
}
.about .grid .item:first-child .contenedor{
	transform: translateX(-150%);
}
.about .grid .item:first-child .img{
	width: 60%;
}
.about .grid .descripcion{
	margin: 0;
}
.about .grid .item:last-child{
	justify-self: flex-end;
}
.about .grid{
	/*& .item:nth-of-type(2){
			grid-row: 1 span;
			& .img{
				@media(--desktop){
					width: 55%;
					margin-left: 5em;
				}
			}
		}*/
}
.about .grid .cualidades{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
}
.about .grid .cualidades .cualidad{
	display: flex;
	align-items: center;
}
.about .grid .cualidades .cualidad:nth-of-type(2) .icono{
	width: 8%;
}
.about .grid .cualidades .cualidad .icono{
	width: 13%;
}
.about .grid .cualidades .cualidad .cualidad-nombre{
	margin-left: 1em;
}
.about .grid .btn{
	color: white;
	border: 2px solid white;
	padding: 1em 2em;
	text-transform: uppercase;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-decoration: none;
	border-radius: 2em;
	font-size: 16px;
	font-size: 1rem;
	transition: .3s;
}
.about .grid .btn:hover{
	box-shadow: 0 0 50px #00b5ff;
}
.about .grid .btn:hover{
	border-color: #00caf5;
	background: #00caf5;
	color: #007993;
}
.servicios{
	align-items: center;
	background: white
}
.servicios.active, .servicios.prev{
	display: flex;
}
.servicios.animacion #pro .cls-2 {
	transition: 2s;
	fill: #007e70;
}
.servicios.animacion #elec .cls-5 {
	transition: 4s;
	fill: #007e70;
}
.servicios.animacion #web .cls-2 {
	transition: 6s;
	fill: #007e70;
}
.servicios.animacion #movil .cls-2 {
	transition: 8s;
	fill: #007e70;
}
.servicios.animacion .grid .item{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	visibility: visible !important;
}
.servicios .grid{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 5em;
	text-align: center;
	position: relative;
	padding-top: 12em;
	padding-right: 9em;
	height: auto;
}
.servicios .grid .item{
	transform: scale(0);
	opacity: 0.0;
}
.servicios .grid .item:nth-of-type(2){
	margin-top: 2em;
	animation-delay: .25s;
}
.servicios .grid .item:nth-of-type(3){
	margin-top: 4em;
	animation-delay: .5s;
}
.servicios .grid .item:nth-of-type(4){
	margin-top: 6em;
	animation-delay: .75s;
}
.servicios .grid .nombre-servicios{
	color: #007993;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}
.servicios .grid .descripcion{
	color: #009270;
}
.portafolio{
	background: #007993;
	align-items: center
}
.portafolio.active, .portafolio.prev{
	display: flex;
}
.portafolio.animacion .grid .proyectos{
	animation-name: Down;
	-webkit-animation-name: Down;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-fill-mode: forwards;
	visibility: visible !important;
}
.portafolio .grid{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.portafolio .grid .portafolio-servicios{
	list-style: none;
}
.portafolio .grid .portafolio-servicios .servicio{
	font-size: 22.4px;
	font-size: 1.4rem;
	margin-bottom: 1em;
	color: white;
}
.portafolio .grid .portafolio-servicios .servicio a{
	color: white;
	text-decoration: none;
	margin-right: 1em;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}
.portafolio .grid .proyectos{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	margin: 2em 3em 0 0;
	height: 75%;
	transform: translateY(-100%);
}
.portafolio .grid .proyectos .proyecto{
	border: 1px solid white;
	text-align: center;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	color: white;
	text-decoration: none;
}
.portafolio .grid .proyectos .proyecto .nombre{
	z-index: 1000;
}
.portafolio .grid .proyectos .proyecto .caracteristicas{
	z-index: 1000;
}
.portafolio .grid .proyectos .proyecto:before{
	content: '';
	width: 0;
	height: 0;
	left: 50%;
	background: #007993;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	transition: .3s;
}
.portafolio .grid .proyectos .proyecto:hover:before{
	width: 12em;
	height: 12em;
	left: calc(50% - 6em);
}
.portafolio .grid .btn{
	color: white;
	border: 2px solid white;
	padding: 1em 2em;
	text-transform: uppercase;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-decoration: none;
	border-radius: 2em;
	font-size: 16px;
	font-size: 1rem;
	transition: .3s;
}
.portafolio .grid .btn:hover{
	box-shadow: 0 0 50px #00b5ff;
}
.portafolio .grid .btn{
	margin-right: 3em;
}
.portafolio .grid .btn:hover{
	border-color: #00caf5;
	background: #00caf5;
	color: #007993;
}
.contacto{
	overflow: hidden;
	background: white
}
.contacto.animacion .grid > .item:first-child{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-delay: .3s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}
.contacto.animacion .grid .formulario{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-delay: .3s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
}
.contacto .grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 4em;
	padding-bottom: 0;
	position: relative;
	padding-top: 11em;
}
.contacto .grid > .item:first-child{
	transform: scaleX(0.3);
}
.contacto .grid .animanos{
	color: #009270;
	font-size: 32px;
	font-size: 2rem;
}
.contacto .grid .informacion{
	list-style: none;
}
.contacto .grid .informacion li{
	margin-bottom: 1em;
}
.contacto .grid .informacion li a{
	color: #009270;
	font-weight: 600;
	text-decoration: none;
}
.contacto .grid .sociales{
	display: flex;
	list-style: none;
	width: 40%;
	margin-top: 2em;
}
.contacto .grid .sociales .item{
	margin-right: 1em;
}
.contacto .grid .formulario{
	box-sizing: border-box;
	padding: 0 2em 2em;
	border-radius: 2em;
	margin-right: 3em;
	transform: scaleX(0.3);
}
.contacto .grid .formulario .title{
	color: #007993;
	font-size: 19.2px;
	font-size: 1.2rem;
}
.contacto .grid .formulario .contact{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 0 1em;
	margin: 0;
	padding: 0;
}
.contacto .grid .formulario .contact input, .contacto .grid .formulario .contact textarea{
	background: none;
	border: none;
	border-bottom: 2px solid rgba(0, 121, 147, 0.5);
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	padding: 1em;
	transition: .3s;
	color: #007993;
	width: 90%;
}
.contacto .grid .formulario .contact input::placeholder,.contacto .grid .formulario .contact textarea::placeholder{
	color: #007993;
	color: rgba(0, 121, 147, 0.5);
}
.contacto .grid .formulario .contact input:focus,.contacto .grid .formulario .contact textarea:focus{
	border-bottom-color: #007993;
	outline: none;
}
.contacto .grid .formulario .contact textarea{
	grid-column: 2 span;
}
.contacto .grid .formulario .contact input:nth-of-type(3){
	grid-column: 2 span;
}
.contacto .grid .formulario .contact .btn{
	color: white;
	border: 2px solid white;
	padding: 1em 2em;
	text-transform: uppercase;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-decoration: none;
	border-radius: 2em;
	font-size: 16px;
	font-size: 1rem;
	transition: .3s;
}
.contacto .grid .formulario .contact .btn:hover{
	box-shadow: 0 0 50px #00b5ff;
}
.contacto .grid .formulario .contact .btn{
	background: rgb(0, 121, 147);
	background: linear-gradient(90deg, rgba(0, 121, 147, 1) 0%, rgba(0, 146, 112, 1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	border: none;
	padding: .5em 2em;
	width: 50%;
	margin-top: 1em;
	background: none;
	font-size: 16px;
	font-size: 1rem;
}
.contacto .grid .formulario .contact .btn:hover{
	border-color: #00caf5;
	background: #00caf5;
	color: #007993;
}
.contacto .grid .footer{
	display: flex;
	flex-direction: column;
	align-content: center;
	grid-column: 2 span;
	background: #007993;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 1em;
	box-sizing: border-box;
}
.contacto .grid .footer .menu{
	display: flex;
	justify-content: center;
	list-style: none;
}
.contacto .grid .footer .menu .item{
	margin-right: 2em;
}
.contacto .grid .footer .menu .item a{
	color: white;
	text-decoration: none;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}
.contacto .grid .footer .copy{
	display: flex;
	justify-content: center;
	color: white;
	margin-bottom: 0;
}
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}
@keyframes slideDown {
	0% {
		transform: translateY(100%);
	}		
	100% {
		transform: translateY(0%);
	}	
}
@keyframes salir{
  0%{
    transform: translatex(0) scale(0);
  }
  100%{
    transform: scale(0.2) translatex(-100%);
  }
}
@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}
/*
==============================================
slideRight
==============================================
*/
@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}
@keyframes floating {
	0% {
		transform: translateY(-1%);	
	}
	50% {
		transform: translateY(1%);	
	}	
	100% {
		transform: translateY(-1%);
	}			
}
@keyframes Down {
	0% {
		transform: translateY(-100%);
	}			
	100% {
		transform: translateY(0%);
	}		
}
@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	100% {
		transform: scaleX(1);
	}							
}
@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	100% {
		transform: scaleX(1);
	}							
}
@media (max-width: 500px){
	.header{
		padding: .5em 0;
	}
	.margen{
		height: auto;
		padding: 8em 4em 6em 2em;
	}
	.hero{
		height: 100vh;
		overflow: hidden;
	}
	.hero .copy{
		padding: 0 2em;
	}
	.hero .copy .item:first-child{
		height: 50% !important;
	}
	.hero .copy .item .title{
		font-size: 4rem;
	}
	.about{
		height: auto;
	}
	.about .grid{
		height: auto;
	}
	.about .grid .img{
		margin: 0 !important;
		width: 100% !important;
	}
	.about .grid .item:first-child{
		grid-template-columns: 1fr;
	}
	.servicios{
		height: auto;
	}
	.servicios .grid{
		padding-right: 4em;
		padding-top: 8em;
		grid-template-columns: 1fr !important;
	}
	.portafolio{
		height: auto;
	}
	.portafolio .grid .portafolio-servicios{
		flex-direction: column;
	}
	.portafolio .grid .proyectos{
		grid-template-columns: 1fr !important;
		margin: 0;
	}
	.contacto{
		height: auto;
	}
	.contacto .grid{
		padding-top: 8em;
	}
	.contacto .grid .sociales{
		width: 100%;
	}
	.contacto .grid .formulario{
		padding: 0;
		margin-right: 0;
	}
	.contacto .grid .formulario .contact{
		margin-bottom: 10em;
	}
	.contacto .grid .footer .menu{
		display: none;
	}
}
@media (max-width: 800px){
	.header .contenedor{
		width: calc(100% - 5em);
	}
	.header .contenedor .navbar .menu{
		position: fixed;
		left: 0;
		width: 100% !important;
		margin: 0 !important;
		height: 50vh;
		background: #007993;
		background: rgba(0, 121, 147, 0.5);
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.header .contenedor .navbar .menu .item{
		color: white;
		font-size: 2rem;
		margin-bottom: 2em;
	}
	.header .contenedor .navbar .menu:nth-of-type(1){
		top: -100%;
	}
	.header .contenedor .navbar .menu:nth-of-type(2){
		bottom: -100%;
		top: inherit;
		justify-content: flex-start;
	}
	.header .contenedor .navbar .logo{
		margin: 0;
	}
	.header .contenedor .burger{
		display: block;
	}
	.hero .copy{
		align-items: center;
		grid-template-columns: 1fr;
	}
	.hero .copy .item:last-child{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: .6;
		top: 20%;
	}
	.hero .copy .item:first-child{
		height: 70%;
	}
	.about .grid .item:first-child .img{
		width: 90%;
	}
	.about .grid .cualidades{
		margin-top: 2em;
		grid-template-columns: 1fr;
	}
	.about .grid .cualidades .cualidad .icono{
		width: 20%;
	}
	.servicios .grid{
		grid-template-columns: 1fr 1fr;
		grid-gap: 2em 8em;
	}
	.servicios .grid .item{
		margin-top: 0 !important;
	}
	.portafolio{
		padding: .5em 0;
	}
	.portafolio .grid .portafolio-servicios{
		display: flex;
		padding: 0 2em;
	}
	.portafolio .grid .portafolio-servicios span{
		display: none;
	}
	.portafolio .grid .proyectos{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.contacto .grid{
		grid-template-columns: 1fr;
	}
}
@media (min-width: 801px){
	.about .grid .cualidades{
		margin-top: 2em;
	}
}
@media (max-width: 360px){
	.portafolio .grid .portafolio-servicios .servicio{
		font-size: 1.1rem;
	}
}
