body{
	font-family: 'Arlon', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden
}
body::-webkit-scrollbar{
	width: 10px;
	background: white;
}
body::-webkit-scrollbar-thumb{
	background: rgb(0, 73, 88);
	border-radius: 5px;
}
body{
	/*&.scroll{
		&::-webkit-scrollbar{
			background: white !important;
		}
		&::-webkit-scrollbar-thumb{

			background: var(--colorPrincipal);
			border-radius: 5px;
		}	
	}*/
	/*@media(--mobile){
		overflow-y: scroll;
	}*/
}
.botones{
	position: fixed;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 2em;
	height: 30%;
	width: 30px;
	top: 35%;
	right: 4em;
	z-index: 1500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .3s
}
.botones.left{
	left: 4em;
}
.botones.scroll .boton.activo:after{
	background: white;
}
.botones.scroll .boton:after{
	background: #ffffff;
	background: rgba(255, 255, 255, 0.5);
}
.botones .boton{
	width: 100%;
	height: 100%;
	position: relative
}
.botones .boton.activo:after{
	background: #007993;
}
.botones .boton:after{
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	background: #007993;
	background: rgba(0, 121, 147, 0.5);
	box-sizing: border-box;
	border-radius: 50%;
	top: 16%;
	right: 0;
	transition: .3s;
}
img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
}*/
.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 1001;
	transition: .3s;
}
.header.scroll{
	background: white;
	padding: 1em 0;
}
.header.fondo .contenedor .navbar .menu{
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0) invert(1);
}
.header.fondo .contenedor .navbar .logo{
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0) invert(1);
}
.header.fondo .contenedor .burger{
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0) invert(1);
}
.header.scroll.fondo{
	background: #007993;
}
.header.activo .contenedor .menu:nth-of-type(1){
	top: 0 !important;
}
.header.activo .contenedor .menu:nth-of-type(2){
	bottom: 0 !important;
}
.header.activo .contenedor .close{
	visibility: visible;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: calc(100% - 12em);
	box-sizing: border-box;
	z-index: 1200;
	position: relative;
	max-width: 1420px;
}
.header .contenedor .navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between
}
.header .contenedor .navbar .menu{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	transition: 1s
}
.header .contenedor .navbar .menu .item{
	text-decoration: none;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	text-transform: uppercase;
	color: #007993;
	font-size: 19.2px;
	font-size: 1.2rem;
	margin-left: 2em
}
.header .contenedor .navbar .menu .item.activo{
	position: relative
}
.header .contenedor .navbar .menu .item.activo:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	bottom: -5px;
	left: 0;
	background: #007993;
	transition: .3s;
}
.header .contenedor .navbar .logo{
	width: 15%;
	transition: 1.2s;
}
.header .contenedor .burger{
	background: none;
	border: none;
	cursor: pointer;
	display: none;
	transition: 1.2s;
}
.header .contenedor .burger img{
	width: 32px;
	width: 2rem;
}
.header .contenedor .burger:focus{
	outline: none;
}
.header .contenedor .close{
	background: none;
	border: none;
	position: absolute;
	color: white;
	font-size: 40px;
	font-size: 2.5rem;
	right: 0;
	visibility: hidden;
}
.slide{
	display: flex;
	justify-content: center;
}
.margen{
	padding: 10em 6em 4em;
	height: 100vh;
	box-sizing: border-box;
	max-width: 1420px;
}
.right{
	padding-left: 8em
}
.right img{
	margin-left: 6em;
}
.left img{
	margin-left: -6em;
}
.hero{
	background: #007993;
	overflow: hidden
}
.hero .margen{
	position: relative
}
.hero .margen .fondo{
	position: absolute;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1
}
.hero .margen .fondo img{
	width: 50%;
}
.hero .margen .contenedor{
	z-index: 1000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4em;
	align-items: center;
	height: 100%
}
.hero .margen .contenedor .grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 4em;
	align-items: center;
	margin-top: 3em;
}
.hero .margen .contenedor .grid .icono:first-child{
	width: 72.5%;
}
.hero .margen .contenedor .grid .icono .cls-1, .hero .margen .contenedor .grid .icono .cls-2{
	transition: .3s;
}
.hero .margen .contenedor .grid .icono:hover .cls-1{
	fill: #00caf5;
}
.hero .margen .contenedor .grid .icono:hover.heroElec .cls-1, .hero .margen .contenedor .grid .icono:hover.heroElec .cls-2{
	fill:none;
	stroke: #00caf5;
}
.hero .margen .contenedor .grid .icono:hover.heroElec .cls-3{
	fill:#00caf5;
}
.hero .margen .contenedor .grid .icono:hover.heroWeb .cls-1{
	fill:none;
	stroke:#00caf5;
}
.hero .margen .contenedor .grid .icono:hover.heroMovil .cls-1, .hero .margen .contenedor .grid .icono:hover.heroMovil .cls-2{
	fill:none;
	stroke:#00caf5;
}
.hero .margen .contenedor .title{
	color: white;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 80px;
	font-size: 5rem;
	margin-bottom: 0;
}
.hero .margen .contenedor .descripcion{
	color: white;
}
.servicio{
	background: white
}
.servicio:nth-of-type(3),.servicio:nth-of-type(5){
	background: #007993;
	background: rgba(0, 121, 147, 0.1);
}
.servicio .grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5em;
}
.servicio .grid .head{
	display: flex;
	align-items: center;
	margin-bottom: 2em
}
.servicio .grid .head .icono{
	width: 10%;
	margin-right: 2em;
}
.servicio .grid .head .nombre{
	color: #007993;
	font-size: 32px;
	font-size: 2rem;
	font-family: 'Dolce Vita Heavy Bold', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}
.servicio .grid .body .lista{
	list-style: none;
	padding-left: 2em
}
.servicio .grid .body .lista .item{
	margin-bottom: 1em;
	position: relative
}
.servicio .grid .body .lista .item:before{
	content: '';
	width: 20px;
	height: 20px;
	background: #007993;
	left: -2em;
	top: 0;
	position: absolute;
	border-radius: 50%;
}
@keyframes slideDown {
	0% {
		transform: translateY(100%);
	}		
	100% {
		transform: translateY(0%);
	}	
}
@media (max-width: 500px){
	.header{
		padding: 2em 0
	}
	.header .contenedor{
		width: calc(100% - 5em)
	}
	.margen{
		padding: 10em 3em 4em
	}
	.hero .margen .contenedor .grid{
		display: none
	}
	.hero .margen .contenedor .title{
		font-size: 3rem
	}
	.servicio .grid .head .icono{
		width: 30%
	}
}
@media (max-width: 800px){
	.header.fondo .contenedor .navbar .menu{
		filter: none
	}
	.header .contenedor .navbar .menu{
		position: fixed;
		left: 0;
		width: 100% !important;
		margin: 0 !important;
		height: 100vh;
		background: #007993;
		background: rgba(0, 121, 147, 0.5);
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.header .contenedor .navbar .menu .item{
		color: white;
		font-size: 2rem;
		margin: 1em 0;
	}
	.header .contenedor .navbar .menu:nth-of-type(1){
		top: -100%;
	}
	.header .contenedor .navbar .menu:nth-of-type(2){
		bottom: -100%;
		top: inherit;
		justify-content: flex-start;
	}
	.header .contenedor .navbar .logo{
		margin: 0;
		width: 40%
	}
	.header .contenedor .burger{
		display: block
	}
	.hero .margen .contenedor{
		grid-template-columns: 1fr
	}
	.hero .margen .contenedor .item:first-child{
		align-self: end;
	}
	.hero .margen .contenedor .item:last-child{
		align-self: start;
	}
	.servicio .grid{
		grid-template-columns: 1fr;
		height: auto
	}
	.servicio .grid.left .item:first-child{
		grid-row-start: 2;
	}
}
