:root{
	--colorPrincipal: #007993;
	--colorSecundario: #009270;
	--fuentePrincipal: 'Dolce Vita Heavy Bold', system-ui;
	--fuenteSecundaria:'Arlon', system-ui;
	--btn: {
		color: white;
		border: 2px solid white;
		padding: 1em 2em;
		text-transform: uppercase;
		font-family: var(--fuentePrincipal);
		text-decoration: none;
		border-radius: 2em;
		font-size: 1rem;
		transition: .3s;
		&:hover{
			box-shadow: 0 0 50px #00b5ff;
		}
	};
	--gradient: {
		background: rgb(0,121,147);
		background: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	}
	--gradient-inter:{
		color: rgb(0,121,147);
		color: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1);
	}
}
@custom-media --mobile (max-width: 500px);
@custom-media --min (max-width: 360px);
@custom-media --tablet (max-width: 800px);
@custom-media --desktop (width > 800px);
body{
	font-family: var(--fuenteSecundaria);
	margin: 0;
	padding: 0;
	position: relative;
	/*@media(--mobile){
		overflow-y: scroll;
	}*/
}
.botones{
	position: fixed;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 2em;
	height: 30%;
	width: 30px;
	top: 35%;
	right: 4em;
	z-index: 1500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&.scroll{
		& .boton{
			&.activo{
				&:after{
					background: white;
				}
			}
			&:after{
				background: color(white a(50%));
			}
		}
	}
	& .boton{
		width: 100%;
		height: 100%;
		position: relative;
		&.activo{
			&:after{
				background: var(--colorPrincipal);
			}
		}
		&:after{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background: color(var(--colorPrincipal) a(50%));
			box-sizing: border-box;
			border-radius: 50%;
			top: 16%;
			right: 0;
			transition: .3s;
		}
	}
}

img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
}*/
.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 1001;
	transition: .3s;
	@media(--mobile){
		padding: 2em 0;
	}
	&.scroll{
		background: white;
		padding: 1em 0;
	}
	
	&.fondo{
		& .contenedor{
			& .navbar{
				& .menu{
					filter: brightness(0) invert(1);
					@media(--tablet){
						filter: none;
					}
				}
				& .logo{
					filter: brightness(0) invert(1);	
				}
			}
			& .burger{
				filter: brightness(0) invert(1);
			}
		}
	}
	&.scroll.fondo{
		background: var(--colorPrincipal);
	}
	
	&.activo{
		& .contenedor{
			& .menu{
				&:nth-of-type(1){
					top: 0 !important;
				}
				&:nth-of-type(2){
					bottom: 0 !important;
				}
			}
			& .close{
				visibility: visible;
			}
		}
	}
	& .contenedor{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: calc(100% - 12em);
		box-sizing: border-box;
		z-index: 1200;
		position: relative;
		@media(--mobile){
			width: calc(100% - 5em);
		}
		& .navbar{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& .menu{
				display: flex;
				justify-content: space-between;
				box-sizing: border-box;
				transition: 1s;
				@media(--tablet){
					position: fixed;
					left: 0;
					width: 100% !important;
					margin: 0 !important;
					height: 100vh;
					background: color(var(--colorPrincipal) a(50%));
					flex-direction: column;
					justify-content: center;
					align-items: center;
					& .item{
						color: white;
						font-size: 2rem;
						margin: 1em 0;
					}
					&:nth-of-type(1){
						top: -100%;
					}
					&:nth-of-type(2){
						bottom: -100%;
						top: inherit;
						justify-content: flex-start;
					}
				}
				& .item{
					text-decoration: none;
					font-family: var(--fuentePrincipal);
					text-transform: uppercase;
					color: var(--colorPrincipal);
					font-size: 1.2rem;
					margin-left: 2em;
					&.activo{
						position: relative;
						&:after{
							position: absolute;
							content: '';
							height: 2px;
							width: 100%;
							bottom: -5px;
							left: 0;
							background: var(--colorPrincipal);
							transition: .3s;
						}
					}
				}
			}
			& .logo{
				width: 15%;
				transition: 1.2s;
				@media(--tablet){
					margin: 0;
					width: 40%;
				}
			}
		}
		& .burger{
			background: none;
			border: none;
			cursor: pointer;
			display: none;
			transition: 1.2s;
			@media(--tablet) {
				display: block;
			}
			& img{
				width: 2rem;
			}
			&:focus{
				outline: none;
			}
		}
		& .close{
			background: none;
			border: none;
			position: absolute;
			color: white;
			font-size: 2.5rem;
			right: 0;
			visibility: hidden;
		}
	}
}
.margen{
	padding: 10em 6em 4em;
	height: 100vh;
	box-sizing: border-box;
	@media(--mobile){
		height: auto;
		padding: 8em 4em 6em 2em;
	}
}
.contacto{
	overflow: hidden;
	background: white;
	@media(--mobile){
		height: auto;
	}
	& .grid{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 0 4em;
			padding-bottom: 0;
			position: relative;
			padding-top: 11em;
			@media(--tablet){
				grid-template-columns: 1fr;
			}
			@media(--mobile){
				padding-top: 4em;
				height: auto;
				& .item{
					/*width: 80%;*/
				}
			}
			& .animanos{
				color: var(--colorPrincipal);
				font-family: var(--fuentePrincipal);
				font-size: 3rem;
			}
			& .informacion{
				list-style: none;
				& li{
					margin-bottom: 1em;
					& a{
						color: var(--colorSecundario);
						font-weight: 600;
						text-decoration: none;
					}
				}
			}
			& .sociales{
				display: flex;
				list-style: none;
				width: 40%;
				margin-top: 2em;
				@media(--mobile){
					width: 100%;
				}
				& .item{
					margin-right: 1em;
				}
			}
			& .formulario{
				box-sizing: border-box;
				padding: 0 2em 2em;
				border-radius: 2em;
				margin-right: 3em;
				@media(--tablet){
					margin-right: 0;
					padding: 0;
					margin-bottom: 8em;
				}
				& .title{
					color: var(--colorPrincipal);
					font-size: 1.2rem;
					font-family: var(--fuentePrincipal);
				}
				& .contact{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					grid-gap: 0 1em;
					margin: 0;
					padding: 0;
					& input, & textarea{
						background: none;
						border: none;
						border-bottom: 2px solid color(var(--colorPrincipal) a(50%));
						font-family: var(--fuenteSecundaria);
						padding: 1em;
						transition: .3s;
						color: var(--colorPrincipal);
						width: 90%;
						&::placeholder{
							color: color(var(--colorPrincipal) a(50%));
						}
						&:focus{
							border-bottom-color: var(--colorPrincipal);
							outline: none;
						}
					}
					& textarea{
						grid-column: 2 span;
					}
					& input{
						&:nth-of-type(3){
							grid-column: 2 span;
						}
					}
					& .btn{
						@apply --btn;
						@apply --gradient;
						border: none;
						padding: .5em 2em;
						width: 50%;
						margin-top: 1em;
						background: none;
						font-size: 1rem;
						&:hover{
							border-color: #00caf5;
							background: #00caf5;
							color: var(--colorPrincipal);
						}

					}
				}
			}
			& .footer{
				display: flex;
				flex-direction: column;
				align-content: center;
				grid-column: 2 span;
				background: var(--colorPrincipal);
				position: absolute;
				width: 100%;
				bottom: 0;
				padding: 1em;
				box-sizing: border-box;
				& .menu{
					display: flex;
					justify-content: center;
					list-style: none;
					@media(--mobile){
						display: none;
					}
					& .item{
						margin-right: 2em;
						& a{
							color: white;
							text-decoration: none;
							font-family: var(--fuentePrincipal);
						}
					}
				}
				& .copy{
					display: flex;
					justify-content: center;
					color: white;
					margin-bottom: 0;
				}
			}
		}
}
