:root{
	--colorPrincipal: #007993;
	--colorSecundario: #009270;
	--fuentePrincipal: 'Dolce Vita', system-ui;
	--fuenteSecundaria:'Arlon', system-ui;
	--btn: {
		color: white;
		border: 2px solid white;
		padding: 1em 2em;
		text-transform: uppercase;
		font-family: var(--fuentePrincipal);
		text-decoration: none;
		border-radius: 2em;
		font-size: 1rem;
		transition: .3s;
		&:hover{
			box-shadow: 0 0 50px #00b5ff;
		}
	};
	--gradient: {
		background: rgb(0,121,147);
		background: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	}
	--gradiente: {
		background: rgba(0,120,147,1);
		background: -moz-linear-gradient(top, rgba(0,120,147,1) 0%, rgba(0,120,147,1) 45%, rgba(0,200,245,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,120,147,1)), color-stop(45%, rgba(0,120,147,1)), color-stop(100%, rgba(0,200,245,1)));
		background: -webkit-linear-gradient(top, rgba(0,120,147,1) 0%, rgba(0,120,147,1) 45%, rgba(0,200,245,1) 100%);
		background: -o-linear-gradient(top, rgba(0,120,147,1) 0%, rgba(0,120,147,1) 45%, rgba(0,200,245,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,120,147,1) 0%, rgba(0,120,147,1) 45%, rgba(0,200,245,1) 100%);
		background: linear-gradient(to bottom, rgba(0,120,147,1) 0%, rgba(0,120,147,1) 45%, rgba(0,200,245,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007893', endColorstr='#00c8f5', GradientType=0 );
	}
	--gradient-inter:{
		color: rgb(0,121,147);
		color: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1);
	}
}
@custom-media --mobile (max-width: 500px);
@custom-media --min (max-width: 320px);
@custom-media --tablet (max-width: 800px);
@custom-media --desktop (width > 800px);
body{
	font-family: var(--fuenteSecundaria);
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	&::-webkit-scrollbar{
		width: 10px;
		background: white;
	}
	&::-webkit-scrollbar-thumb{
		background: color(var(--colorPrincipal) shade(40%));
		border-radius: 5px;
	}
}
/*.botones{
	position: fixed;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 2em;
	height: 30%;
	width: 30px;
	top: 35%;
	right: 4em;
	z-index: 1500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media(--mobile){
		right: 2em;
	}
	&.scroll{
		& .boton{
			&.activo{
				&:after{
					background: white;
				}
			}
			&:after{
				background: color(white a(50%));
			}
		}
	}
	& .boton{
		width: 100%;
		height: 100%;
		position: relative;
		&.activo{
			&:after{
				background: var(--colorPrincipal);
			}
		}
		&:after{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background: color(var(--colorPrincipal) a(50%));
			box-sizing: border-box;
			border-radius: 50%;
			top: 16%;
			right: 0;
			transition: .3s;
		}
	}
}*/

img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
  display: none;
  @media(--mobile){
  	height: auto;
  }

}*/
/*.active{
  animation: slideDown 1s forwards;
  z-index: 1000;
  display: block;
  
}
.prev{
  z-index: 50;
  display: block;
}*/

.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 1001;
	transition: .3s;
	@media(--mobile){
		padding: 2em 0;
	}
	&.scroll{
		background: white;
		padding: 1em 0;
	}
	
	&.fondo{
		& .contenedor{
			& .navbar{
				& .menu{
					filter: brightness(0) invert(1);
					@media(--tablet){
						filter: none;
					}
				}
				& .logo{
					filter: brightness(0) invert(1);	
				}
			}
			& .burger{
				filter: brightness(0) invert(1);
			}
		}
	}
	&.scroll.fondo{
		background: var(--colorPrincipal);
	}
	
	&.activo{
		& .contenedor{
			& .menu{
				&:nth-of-type(1){
					top: 0 !important;
				}
				&:nth-of-type(2){
					bottom: 0 !important;
				}
			}
			& .close{
				visibility: visible;
			}
		}
	}
	& .contenedor{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: calc(100% - 12em);
		box-sizing: border-box;
		z-index: 1200;
		position: relative;
		max-width: 1420px;
		@media(--mobile){
			width: calc(100% - 5em);
		}
		& .navbar{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& .menu{
				display: flex;
				justify-content: space-between;
				box-sizing: border-box;
				transition: 1s;
				@media(--tablet){
					position: fixed;
					left: 0;
					width: 100% !important;
					margin: 0 !important;
					height: 100vh;
					background: color(var(--colorPrincipal) a(50%));
					flex-direction: column;
					justify-content: center;
					align-items: center;
					& .item{
						color: white;
						font-size: 2rem;
						margin: 1em 0;
					}
					&:nth-of-type(1){
						top: -100%;
					}
					&:nth-of-type(2){
						bottom: -100%;
						top: inherit;
						justify-content: flex-start;
					}
				}
				& .item{
					text-decoration: none;
					font-family: var(--fuentePrincipal);
					text-transform: uppercase;
					color: var(--colorPrincipal);
					font-size: 1.1rem;
					margin-left: 2em;
					&.activo{
						position: relative;
						&:after{
							position: absolute;
							content: '';
							height: 2px;
							width: 100%;
							bottom: -5px;
							left: 0;
							background: var(--colorPrincipal);
							transition: .3s;
						}
					}
				}
			}
			& .logo{
				width: 15%;
				transition: 1.2s;
				@media(--tablet){
					margin: 0;
					width: 40%;
				}
			}
		}
		& .burger{
			background: none;
			border: none;
			cursor: pointer;
			display: none;
			transition: 1.2s;
			@media(--tablet) {
				display: block;
			}
			& img{
				width: 2rem;
			}
			&:focus{
				outline: none;
			}
		}
		& .close{
			background: none;
			border: none;
			position: absolute;
			color: white;
			font-size: 2.5rem;
			right: 0;
			visibility: hidden;
		}
	}
}
.slide{
	display: flex;
	justify-content: center;
}
.cls-22{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.cls-25{
	transition: .3s;
	fill: white;
	&:hover{
		fill: #fcd121;
	}
}
.margen{
	padding: 7em 6em 4em;
	height: 1066px;
	box-sizing: border-box;
	height: 700px;
	max-width: 1420px;
	width: 100%;
	@media(--mobile){
		height: auto;
		padding: 8em 4em 6em 2em;
	}
}
.hero{
	box-sizing: border-box;
	position: relative;
	@media(--mobile){
		height: 100vh;
		overflow: hidden;
	}
	&.animacion{
		& .copy{/*
			& .item:first-child{
				
				animation-name: slideExpandUp;
				-webkit-animation-name: slideExpandUp;	

				animation-duration: 1.6s;	
				-webkit-animation-duration: 1.6s;

				animation-timing-function: ease-out;	
				-webkit-animation-timing-function: ease -out;
			}*/
			& .item:last-child{

				animation-name: fadeIn;
					-webkit-animation-name: fadeIn;	

					animation-duration: 1.5s;	
					-webkit-animation-duration: 1.5s;

					animation-timing-function: ease-in-out;	
					-webkit-animation-timing-function: ease-in-out;		

					visibility: visible !important;	
			}
		}

		visibility: visible !important;	
	}
	& #particles-js{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}
	& .copy{
		display: grid;
		grid-template-columns: 4fr 3fr;
		/*height: 100%;*/
		width: 100%;
		transition: .3s;
		@media(--mobile){
			padding: 0 2em;
		}
		@media(--tablet){
			align-items: center;
			grid-template-columns: 1fr;
			& .item:last-child{
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -1;
				opacity: .6;
				top: 20%;
			}
		}
		& .item{
			&:first-child{
				display: flex;
				flex-direction: column;
				justify-content: center;
				@media(--tablet){
					height: 70%;
				}
				@media(--mobile){
					height: 50% !important;
				}
				@media(--min){
					height: 70% !important;
				}
			}
			&:last-child{
				padding-top: 1.5em;
				z-index: 1000;
			}
			& .title{
				font-family: var(--fuentePrincipal);
				font-size: 8rem;
				color: #007993c7;
				margin: 0;
				z-index: 1000;
				line-height: 1em;
				
				& b{
					@apply --gradient-inter;
				}
				& strong{
					color: var(--colorPrincipal);
				}
				@media(--mobile){
					font-size: 4rem;
				}
			}
			& .subtitle{
				text-transform: uppercase;
				color: color(var(--colorPrincipal) a(80%));
				font-weight: 600;
				font-size: 1.5rem;
				margin: 0;
				z-index: 1000;
				& .cursor{
					margin: 1em 0 0 .1em;
					border-left: .1em solid color(var(--colorPrincipal) a(80%));
				}
			}
			& .ilustracion{
				width: 90%;
				z-index: 1000;
			}
			& .container{
				z-index: 1000;
				margin-top: 2em;
			}
			& .btn{
				@apply --btn;
				@apply --gradient;
				border: none;

			}
		}
	}
}
.about{
	background: var(--colorPrincipal);
	align-items: center;
	width: 100%;
	position: relative;
	overflow-x: visible;
	&.active, &.prev{
		display: flex;

	}
	@media(--mobile){
		height: auto;
	}
	& #particles-js2{
		position: absolute;
		width: 100%;
		height: 150%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	& .grid{
		display: flex;
		flex-direction: column;
		/*height: 97vh;*/
		color: white;
		justify-content: space-evenly;
		padding-top:4em;
		
		/*@media(--tablet){
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			& .img{
				width: 80%;
				margin-left: 25%;
			}
		}*/
		@media(--mobile){
			height: auto;
			& .img{
				margin: 0 !important;
				width: 100% !important;
			}
		}
		& .item{
			& .contenedor{
				z-index: 1000;
			}
			& .imagen{
				display: flex;
				justify-content: center;

				& .cls-4{
					animation: rotate 40s;
					animation-iteration-count: infinite;
					animation-timing-function: linear;
					transform-origin: 50%;
				}
				& svg{
					width: 70%;
					z-index: 900;
				}
			}
		}
		& .item:last-child{
			z-index: 1000;
			@media(--mobile){
				margin-bottom: 4em;
			}
		}
		& .item:first-child{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 4em;
			align-items: center;
			@media(--mobile){
				grid-template-columns: 1fr;
			}
			& .img{
				width: 70%;
				@media(--tablet){
					width: 90%;
				}
			}
		}
		& .descripcion{
			margin: 0;
			background: var(--colorPrincipal);
			&:first-child{
				margin-bottom: 1em;
			}
		}
		& .item:last-child{
			justify-self: flex-end;
		}
		/*& .item:nth-of-type(2){
			grid-row: 1 span;
			& .img{
				@media(--desktop){
					width: 55%;
					margin-left: 5em;
				}
			}
		}*/
		& .cualidades{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2em;

			@media(--tablet){
				margin-top: 2em;
				grid-template-columns: 1fr;
			}
			@media(--desktop){
				margin-top: 2em;
			}
			& .cualidad{
				display: flex;
				align-items: center;
				background: var(--colorPrincipal);
				&:nth-of-type(2){
					& .icono{
						width: 8%;
					}
				}
				& .icono{
					width: 13%;
					@media(--tablet){
						width: 20%;
					}
				}
				& .cualidad-nombre{
					margin-left: 1em;
				}
			}
		}
		& .btn{
			@apply --btn;
			z-index: 900;
			&:hover{
				border-color: #00caf5;
				background: #00caf5;
				color: var(--colorPrincipal);
			}
		}
	}
}
.conexion{
	@apply --gradiente;
	height: 250px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	& .textura{
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		z-index: 900;
		transform: rotate(-14deg) translate(10px,0);
		& .cls-1, & .cls-2{
			transition: .3s;
			fill: #fff0;
		}
		& svg{
			width: 55% !important;
			& .cls-1.activo, & .cls-2.activo{
				fill: color(white a(50%));
			}
		}
	}
	& .title{
		color: white;
		z-index: 1000;
	}
}
.servicios{
	align-items: center;
	background: white;
	&.active, &.prev{
		display: flex;

	}
	
	@media(--mobile){
		height: auto;
	}
	& .grid{
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-gap: 5em;
		text-align: center;
		position: relative;
		padding-top:4em;
		padding-right: 9em;
		align-items: center;
		@media(--tablet){
			grid-template-columns: 1fr 1fr;
			grid-gap: 2em 8em;
			& .item{
				margin-top: 0 !important;
			}
		}
		
		& #pro .cls-1,& #elec .cls-4, & #web .cls-1,& #pro .cls-2,& #elec .cls-5,& #web .cls-2,& #movil .cls-2{
			fill: #bfdedb;
		}
		& #pro .cls-1, & #pro .cls-2,& #elec .cls-4, & #elec .cls-5, & #elec .cls-6, & #web .cls-1, & #web .cls-2,& #web .cls-3 , & #movil .cls-2, & #movil .cls-3{
			animation: rotateLeft 50s;
			animation-iteration-count: infinite;
			transform-origin: 50%;
			animation-timing-function: linear;
		}
		@media(--mobile){
			padding-right: 4em;
			padding-top: 8em;
			grid-template-columns: 1fr !important;
		}
		& .nombre-servicios{
			color: var(--colorPrincipal);
			font-family: var(--fuenteSecundaria);
		}
		& .descripcion{
			color: var(--colorSecundario);
		}
	}
	&.animacion{
		& #pro .cls-2 {
		    transition: 2s;
		    fill: var(--colorPrincipal);
		}& #elec .cls-5 {
		    transition: 4s;
		    fill: var(--colorPrincipal);
		}
		& #web .cls-2 {
		    transition: 6s;
		    fill: var(--colorPrincipal);
		}
		& #movil .cls-2 {
		    transition: 8s;
		    fill: var(--colorPrincipal);
		}
	}
}
.portafolio{
	align-items: center;
	overflow: hidden;
	position: relative;
	&.active, &.prev{
		display: flex;

	}
	@media(--tablet){
		padding: .5em 0;
	}
	@media(--mobile){
		height: auto;
	}
	& #particles-js3{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}
	& .grid{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-top: 2em;
		justify-content: center;
		/*height: auto;*/

		@media(--tablet){
			& .portafolio-servicios{
				display: flex;
				padding: 0 2em;
				& span{
					display: none;
				}
			}
		}
		@media(--mobile){
			& .portafolio-servicios{
				flex-direction: column;
			}
		}
		& .title{
			text-align: center;
			color: var(--colorPrincipal);
			font-family: var(--fuentePrincipal);
			align-self: center;
			font-size: 1.8rem;
			margin-top: 4em;
			background: white;
			z-index: 900;
		}
		& .proyectos{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			margin: 2em 3em 2em 0;
			grid-gap: 2em;

			@media(--tablet){
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
			@media(--mobile){
				grid-template-columns: 1fr !important;
				margin: 0 0 4em;
			}
			& .proyecto{
				text-align: center;
				padding: 2em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: relative;
				color: white;
				text-decoration: none;
				height: 250px;
				overflow: hidden;
				transition: .3s;
				background: #f7f7f7;
				&:hover{
					background: color(#f7f7f7 shade(20%));
				}
				& .nombre{
					z-index: 1000;
					margin: 0;
					color: var(--colorPrincipal);
				}
				& .imagen{
					z-index: 1000;
				}
				& .caracteristicas{
					z-index: 1000;
					color: var(--colorPrincipal);
				}
				/*&:before{
					content: '';
					width: 0;
					height: 0;
					width: 14em;
					height: 14em;
					left: calc((100% - 14em)/2);
					top: calc((100% - 14em)/2);
					background: color(var(--colorPrincipal) shade(20%));
					border-radius: 50%;
					position: absolute;
					z-index: 1;
					transition: .3s;
					transform: scale(0);
				}
				&:hover{
					&:before{
						transform: scale(1);
					}
				}*/
			}
		}
		& .btn{
			@apply --btn;
			@apply --gradient;
			border: none;
			margin-right: 3em;
			z-index: 1000;

		}
	}
}
.contacto{
	overflow: hidden;
	background: white;
	@media(--mobile){
		height: auto;
	}
	& .grid{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 0 4em;
			padding-bottom: 0;
			position: relative;
			padding-top: 11em;
			@media(--tablet){
				grid-template-columns: 1fr;
			}
			@media(--mobile){
				padding-top: 4em;
				height: auto;
				& .item{
					/*width: 80%;*/
				}
			}
			& .animanos{
				color: var(--colorPrincipal);
				font-family: var(--fuentePrincipal);
				font-size: 3rem;
			}
			& .informacion{
				list-style: none;
				& li{
					margin-bottom: 1em;
					& a{
						color: var(--colorSecundario);
						font-weight: 600;
						text-decoration: none;
					}
				}
			}
			& .sociales{
				display: flex;
				list-style: none;
				width: 40%;
				margin-top: 2em;
				@media(--mobile){
					width: 100%;
				}
				& .item{
					margin-right: 1em;
				}
			}
			& .formulario{
				box-sizing: border-box;
				padding: 0 2em 2em;
				border-radius: 2em;
				margin-right: 3em;
				@media(--tablet){
					margin-right: 0;
					padding: 0;
					margin-bottom: 8em;
				}
				& .title{
					color: var(--colorPrincipal);
					font-size: 1.2rem;
					font-family: var(--fuentePrincipal);
				}
				& .contact{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					grid-gap: 0 1em;
					margin: 0;
					padding: 0;
					& input, & textarea{
						background: none;
						border: none;
						border-bottom: 2px solid color(var(--colorPrincipal) a(50%));
						font-family: var(--fuenteSecundaria);
						padding: 1em;
						transition: .3s;
						color: var(--colorPrincipal);
						width: 90%;
						&::placeholder{
							color: color(var(--colorPrincipal) a(50%));
						}
						&:focus{
							border-bottom-color: var(--colorPrincipal);
							outline: none;
						}
					}
					& textarea{
						grid-column: 2 span;
					}
					& input{
						&:nth-of-type(3){
							grid-column: 2 span;
						}
					}
					& .btn{
						@apply --btn;
						@apply --gradient;
						border: none;
						padding: .5em 2em;
						margin-top: 1em;
						background: none;
						font-size: 1rem;
						&:hover{
							border-color: #00caf5;
							background: #00caf5;
							color: var(--colorPrincipal);
						}

					}
				}
			}
			& .footer{
				display: flex;
				flex-direction: column;
				align-content: center;
				grid-column: 2 span;
				background: var(--colorPrincipal);
				position: absolute;
				width: 100%;
				bottom: 0;
				padding: 1em;
				box-sizing: border-box;
				& .menu{
					display: flex;
					justify-content: center;
					list-style: none;
					@media(--mobile){
						display: none;
					}
					& .item{
						margin-right: 2em;
						& a{
							color: white;
							text-decoration: none;
							font-family: var(--fuentePrincipal);
						}
					}
				}
				& .copy{
					display: flex;
					justify-content: center;
					color: white;
					margin-bottom: 0;
				}
			}
		}
}


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideDown {
	0% {
		transform: translateY(100%);
	}		
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(100%);
	}		
	100% {
		-webkit-transform: translateY(0%);
	}	
}

@keyframes salir{
  0%{
    transform: translatex(0) scale(0);
  }
  100%{
    transform: scale(0.2) translatex(-100%);
  }
}
@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);		
	}
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}

/*
==============================================
slideRight
==============================================
*/

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}



@keyframes floating {
	0% {
		transform: translateY(-1%);	
	}
	50% {
		transform: translateY(1%);	
	}	
	100% {
		transform: translateY(-1%);
	}			
}

@-webkit-keyframes floating {
	0% {
		transform: translateY(-1%);	
	}
	50% {
		transform: translateY(1%);	
	}	
	100% {
		transform: translateY(-1%);
	}				
}
@keyframes Down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}			
	100% {
		opacity: 1;
		transform: translateY(0%);
	}		
}

@-webkit-keyframes Down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}		
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}	
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes rotateLeft{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
@-webkit-keyframes rotateLeft{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
}