:root{
	--colorPrincipal: #007993;
	--colorSecundario: #009270;
	--colorFluerecente: #00caf5;
	--fuentePrincipal: 'Dolce Vita Heavy Bold', system-ui;
	--fuenteSecundaria:'Montserrat', system-ui;
	--btn: {
		color: white;
		border: 2px solid white;
		padding: 1em 2em;
		text-transform: uppercase;
		font-family: var(--fuentePrincipal);
		text-decoration: none;
		border-radius: 2em;
		font-size: 1rem;
		transition: .3s;
		&:hover{
			box-shadow: 0 0 50px #00b5ff;
		}
	};
	--gradient: {
		background: rgb(0,121,147);
		background: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	}
	--gradient-inter:{
		color: rgb(0,121,147);
		color: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1);
	}
}
@custom-media --mobile (max-width: 500px);
@custom-media --min (max-width: 360px);
@custom-media --tablet (max-width: 800px);
@custom-media --desktop (width > 800px);
body{
	font-family: 'Montserrat', system-ui;
	margin: 0;
	padding: 0;
	position: relative;
	/*@media(--mobile){
		overflow-y: scroll;
	}*/
}
.botones{
	position: fixed;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 2em;
	height: 30%;
	width: 30px;
	top: 35%;
	right: 4em;
	z-index: 1500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&.scroll{
		& .boton{
			&.activo{
				&:after{
					background: white;
				}
			}
			&:after{
				background: color(white a(50%));
			}
		}
	}
	& .boton{
		width: 100%;
		height: 100%;
		position: relative;
		&.activo{
			&:after{
				background: var(--colorPrincipal);
			}
		}
		&:after{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background: color(var(--colorPrincipal) a(50%));
			box-sizing: border-box;
			border-radius: 50%;
			top: 16%;
			right: 0;
			transition: .3s;
		}
	}
}

img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
}*/
.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	@media(--mobile){
		padding: 2em;
	}
	&.scroll{
		& .contenedor{
			filter: brightness(0) invert(1);
		}
	}
	& .contenedor{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		position: fixed;
		width: calc(100% - 12em);
		box-sizing: border-box;
		z-index: 1200;
		transition: 1.2s;
		filter: brightness(0) invert(1);
		& .navbar{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& .menu{
				display: flex;
				justify-content: space-between;
				width: calc((100% - 15%));
				box-sizing: border-box;
				&:nth-of-type(2){
					width: calc((100% - 15%) - 4em);
					margin-right: 3.5em;
				}
				& .item{
					text-decoration: none;
					font-family: var(--fuentePrincipal);
					text-transform: uppercase;
					color: var(--colorPrincipal);
					font-size: 1.2rem;
					&.activo{
						position: relative;
						&:after{
							position: absolute;
							content: '';
							height: 2px;
							width: 100%;
							bottom: -5px;
							left: 0;
							background: var(--colorPrincipal);
							transition: .3s;
						}
					}
				}
			}
			& .logo{
				width: 15%;
				margin: 0 10em;
			}
		}
		& .burger{
			background: none;
			border: none;
			cursor: pointer;
			display: none;
			& img{
				width: 2rem;
			}
			&:focus{
				outline: none;
			}
		}
	}
}

.margen{
	padding: 10em 6em 4em;
	height: 100vh;
	box-sizing: border-box;
}
.portafolio{
	background: var(--colorPrincipal);
	& .grid{
		display: grid;
		grid-template-columns: 2fr 5fr;
		align-items: center;
		grid-gap: 5em;
		padding-bottom: 0;
		align-self: top;
		& .menu{
			list-style: none;
			width: 90%;
			padding-bottom: 4em;
			& .item{
				margin-bottom: 2em;
				& a{
					color: white;
					text-decoration: none;
					font-family: var(--fuentePrincipal);
					font-size: 1.2rem;
					display: flex;
					justify-content: space-between;
					& span{
						font-size: 1.5rem;
						margin-left: .5em;
					}
				}
			}
		}
		& .grilla{
			display: grid;
			grid-template-columns: repeat(3,1fr);
			align-self: start;
			overflow: hidden scroll;
			height: 100%;
			padding-right: 1em;
			&::-webkit-scrollbar{
				width: 7px;
				margin-left: 1em;
			}
			&::-webkit-scrollbar-thumb{

				background: white;
				border-radius: 5px;

			}
			& .proyecto{
				border: 2px solid var(--colorFluerecente);
				text-align: center;
				padding: 2em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: relative;
				color: white;
				text-decoration: none;
				height: 250px;
				& .nombre{
					z-index: 1000;
				}
				& .caracteristicas{
					z-index: 1000;
				}
				&:before{
					content: '';
					width: 0;
					height: 0;
					left: 50%;
					background: color(var(--colorPrincipal) shade(20%));
					border-radius: 50%;
					position: absolute;
					z-index: 1;
					transition: .3s;
				}
				&:hover{
					&:before{
						width: 10em;
						height: 10em;
						left: calc((100% - 10em)/2);
					}
				}
				&:nth-of-type(2), &:nth-of-type(5){
					border-right: none;
					border-left: 0;
				}
			}
		}
	}
}