:root{
	--colorPrincipal: #007993;
	--colorSecundario: #009270;
	--fuentePrincipal: 'Dolce Vita', system-ui;
	--fuenteSecundaria:'Arlon', system-ui;
	--btn: {
		color: white;
		border: 2px solid white;
		padding: 1em 2em;
		text-transform: uppercase;
		font-family: var(--fuentePrincipal);
		text-decoration: none;
		border-radius: 2em;
		font-size: 1rem;
		transition: .3s;
		&:hover{
			box-shadow: 0 0 50px #00b5ff;
		}
	};
	--gradient: {
		background: rgb(0,121,147);
		background: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	}
	--gradient-inter:{
		color: rgb(0,121,147);
		color: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1);
	}
}
@custom-media --mobile (max-width: 500px);
@custom-media --min (max-width: 360px);
@custom-media --tablet (max-width: 800px);
@custom-media --desktop (width > 800px);
body{
	font-family: var(--fuenteSecundaria);
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	/*overflow: hidden;*/
	@media(--tablet){
		overflow-y: scroll;
	}
}
img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
}*/
.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 900;
	transition: .3s;
	@media(--mobile){
		padding: 2em 0;
	}
	&.scroll{
		background: white;
		padding: 1em 0;
	}
	
	&.fondo{
		& .contenedor{
			& .navbar{
				& .menu{
					filter: brightness(0) invert(1);
					@media(--tablet){
						filter: none;
						background: color(white a(80%));
						& .item{
							color: var(--colorPrincipal);
						}
					}
				}
				& .logo{
					filter: brightness(0) invert(1);	
				}
			}
			& .burger{
				filter: brightness(0) invert(1);
			}
			& .close{
				@media(--tablet){
					color: var(--colorPrincipal);
				}
			}
		}
	}
	&.scroll.fondo{
		background: var(--colorPrincipal);
	}
	
	&.activo{
		& .contenedor{
			& .menu{
				&:nth-of-type(1){
					top: 0 !important;
				}
				&:nth-of-type(2){
					bottom: 0 !important;
				}
			}
			& .close{
				visibility: visible;
			}
		}
	}
	& .contenedor{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: calc(100% - 12em);
		box-sizing: border-box;
		z-index: 1200;
		position: relative;
		max-width: 1420px;
		@media(--mobile){
			width: calc(100% - 5em);
		}
		& .navbar{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& .menu{
				display: flex;
				justify-content: space-between;
				box-sizing: border-box;
				transition: 1s;
				@media(--tablet){
					position: fixed;
					left: 0;
					width: 100% !important;
					margin: 0 !important;
					height: 100vh;
					background: color(var(--colorPrincipal) a(80%));
					flex-direction: column;
					justify-content: center;
					align-items: center;
					& .item{
						color: white;
						font-size: 2rem;
						margin: 1em 0;
					}
					&:nth-of-type(1){
						top: -200%;
					}
					&:nth-of-type(2){
						bottom: -100%;
						top: inherit;
						justify-content: flex-start;
					}
				}
				& .item{
					text-decoration: none;
					font-family: var(--fuentePrincipal);
					text-transform: uppercase;
					color: var(--colorPrincipal);
					font-size: 1.1rem;
					margin-left: 2em;
					&.activo{
						position: relative;
						&:after{
							position: absolute;
							content: '';
							height: 2px;
							width: 100%;
							bottom: -5px;
							left: 0;
							background: var(--colorPrincipal);
							transition: .3s;
						}
					}
				}
			}
			& .logo{
				width: 15%;
				transition: 1.2s;
				@media(--tablet){
					margin: 0;
					width: 40%;
				}
			}
		}
		& .burger{
			background: none;
			border: none;
			cursor: pointer;
			display: none;
			transition: 1.2s;
			@media(--tablet) {
				display: block;
			}
			& img{
				width: 2rem;
			}
			&:focus{
				outline: none;
			}
		}
		& .close{
			background: none;
			border: none;
			position: absolute;
			color: white;
			font-size: 2.5rem;
			right: 0;
			visibility: hidden;
		}
	}
}

.margen{
	padding: 11em 6em 4em;
	height: 100vh;
	box-sizing: border-box;
	max-width: 1420px;
	width: 100%;
}
.slide{
	display: flex;
	justify-content: center;
}
.proyecto{
	background: var(--colorPrincipal);
	position: relative;
	@media(--tablet){
		width: 100%;
		height: auto;
	}
	& .grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5em;
		position: relative;
		background: var(--colorPrincipal);
		@media(--tablet){
			grid-template-columns: 1fr;
			width: 100%;
			position: fixed;
		}
		@media(--mobile){
			padding: 7em 3em 4em;
			grid-gap: 1em;
		}
		& .volver{
			position: absolute;
			color: white;
			font-size: 2rem;
			left: 3em;
			bottom: 2em;
			text-decoration: none;
			z-index: 900;
			animation-name: moving;
			-webkit-animation-name: moving;

			animation-duration: 1.5s;	
			-webkit-animation-duration: 1.5s;

			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			transition: .3s;
			@media(--tablet){
				bottom: inherit;
				top: 6em;
			}
			@media(--mobile){
				left: 1em;
			}
			&:hover{
				& span{
					background: none;
					box-shadow: 0 0 50px #00b5ff;
					
				}
			}
		}
		& .item{
			text-align: end;
			@media(--tablet){
				text-align: center;
			}
			& .caption{
				color: white;
				opacity: .5;
				text-transform: uppercase;
				@media(--mobile){
					font-size: 1rem;	
				}
			}
			& .nombre{
				color: white;
				font-family: var(--fuentePrincipal);
				font-size: 5rem;
				margin: 0;
				@media(--mobile){
					font-size: 2rem;
				}
			}
			& .descripcion{
				color: white;
				@media(--mobile){
					
					font-size: .9rem;
				}
			}
			& .boton{
				color: white;
				background: none;
				border: none;
				font-family: var(--fuenteSecundaria);
				font-size: 1.3rem;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				text-decoration: none;
				@media(--tablet){
					display: flex;
					justify-content: center;
					& .texto{
						display: none;
					}
				}
				& .icono{
					width: 4%;
					margin-left: 1em;
					animation-name: floating;
					-webkit-animation-name: floating;

					animation-duration: 1.5s;	
					-webkit-animation-duration: 1.5s;

					animation-iteration-count: infinite;
					-webkit-animation-iteration-count: infinite;
					@media(--mobile){
						width: 8%;
					}
				}
			}
			&.imagen{
				width: 100%;
				height: 100%;
				@media(--tablet){
					display: flex;
					justify-content: center;
					& img{
						width: 80%;
					}
					
				}
			}
		}
	}
	& .hover{
		width: 30%;
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,.5);
		top: 0;
		left: -100%;
		z-index: 1000;
		transition: .3s;
		transition: 1s;
		@media(--tablet){
			display: none;
		}
		&.active{
			left: 0;
		}
		& .detalleClose{
			background: none;
			color: white;
			font-size: 2rem;
			border: none;
			position: absolute;
			right: 1em;
			top: 2.3em;
			cursor: pointer;
			&:focus{
				outline: none;
			}
		}
	}
	& .detalle{
		background: white;
		position: absolute;
		width: 70%;
		box-sizing: border-box;
		right: -100%;
		top: 0;
		z-index: 1000;
		padding: 5em 6em;
		overflow: hidden scroll;
		height: 100%;
		transition: 1s;
		@media(--tablet){
			overflow: hidden;
			height: auto;
			right: 0;
			top: 100vh;
			width: 100%;
		}
		@media(--mobile){
			padding: 5em 3em;
		}
		&::-webkit-scrollbar{
			width: 9px;
		}
		&::-webkit-scrollbar-thumb{

			background: var(--colorPrincipal);
			border-radius: 5px;
			border-right: 2px solid white;
		}
		&.active{
			right: 0;
		}
		& .contenedor{
			position: relative;
			& .nombre{
				color: var(--colorPrincipal);
				font-family: var(--fuentePrincipal);
				font-size: 4rem;
				text-align: center;
				margin-top: 0;
			}
			& .skills{
				display: flex;
				justify-content: space-between;
				& .item{
					color: var(--colorPrincipal);
				}
			}
			& .imagen{
				width: 100%;
				background: var(--colorPrincipal);
				margin: 2em 0;
				& img{
					vertical-align: top;
				}
			}
			& .subtitle{
				color: var(--colorPrincipal);
				font-family: var(--fuentePrincipal);
				font-size: 2rem;
			}
			& .gustar{
				color: var(--colorPrincipal);
				text-align: center;
				font-size: 1.5rem;
			}
			& .boton{
				display: flex;
				justify-content: center;
			}
			& .btn{
				@apply --btn;
				background: var(--colorPrincipal);
				border: none;
				text-align: center;
			}
		}
	}
}
@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
@keyframes moving {
	0% {
		transform: translateX(0%);	
	}
	50% {
		transform: translateX(10%);	
	}	
	100% {
		transform: translateX(0%);
	}			
}

@-webkit-keyframes moving {
	0% {
		-webkit-transform: translateX(0%);	
	}
	50% {
		-webkit-transform: translateX(10%);	
	}	
	100% {
		-webkit-transform: translateX(0%);
	}			
}