:root{
	--colorPrincipal: #007993;
	--colorSecundario: #009270;
	--fuentePrincipal: 'Dolce Vita Heavy Bold', system-ui;
	--fuenteSecundaria:'Montserrat', system-ui;
	--btn: {
		color: white;
		border: 2px solid white;
		padding: 1em 2em;
		text-transform: uppercase;
		font-family: var(--fuentePrincipal);
		text-decoration: none;
		border-radius: 2em;
		font-size: 1rem;
		transition: .3s;
		&:hover{
			box-shadow: 0 0 50px #00b5ff;
		}
	};
	--gradient: {
		background: rgb(0,121,147);
		background: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		background: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1) !important;
	}
	--gradient-inter:{
		color: rgb(0,121,147);
		color: -moz-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: -webkit-linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		color: linear-gradient(90deg, rgba(0,121,147,1) 0%, rgba(0,146,112,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007993",endColorstr="#009270",GradientType=1);
	}
}
@custom-media --mobile (max-width: 500px);
@custom-media --min (max-width: 360px);
@custom-media --tablet (max-width: 800px);
@custom-media --desktop (width > 800px);
body{
	font-family: 'Montserrat', system-ui;
	margin: 0;
	padding: 0;
	position: relative;
	&::-webkit-scrollbar{
		width: 10px;
		background: white;
	}
	&::-webkit-scrollbar-thumb{
		background: var(--colorPrincipal);
		border-radius: 5px;
	}
	/*&.scroll{
		&::-webkit-scrollbar{
			background: white !important;
		}
		&::-webkit-scrollbar-thumb{

			background: var(--colorPrincipal);
			border-radius: 5px;
		}	
	}*/
	/*@media(--mobile){
		overflow-y: scroll;
	}*/
}
.botones{
	position: fixed;
	padding: 1em 0;
	box-sizing: border-box;
	border-radius: 2em;
	height: 30%;
	width: 30px;
	top: 35%;
	right: 4em;
	z-index: 1500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .3s;
	&.left{
		left: 4em;
	}
	&.scroll{
		& .boton{
			&.activo{
				&:after{
					background: white;
				}
			}
			&:after{
				background: color(white a(50%));
			}
		}
	}
	& .boton{
		width: 100%;
		height: 100%;
		position: relative;
		&.activo{
			&:after{
				background: var(--colorPrincipal);
			}
		}
		&:after{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background: color(var(--colorPrincipal) a(50%));
			box-sizing: border-box;
			border-radius: 50%;
			top: 16%;
			right: 0;
			transition: .3s;
		}
	}
}

img{
	width: 100%;
}
ul,figure{
	margin: 0;
	padding: 0;
}
/*.slide{
	position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 5;
}*/
.header{
	padding: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 1001;
	transition: .3s;
	@media(--mobile){
		padding: .5em 0;
	}
	&.scroll{
		background: white;
		padding: 1em 0;
	}
	
	&.fondo{
		& .contenedor{
			filter: brightness(0) invert(1);
		}
	}
	
	&.activo{
		& .contenedor{
			& .menu{
				&:nth-of-type(1){
					top: 0 !important;
				}
				&:nth-of-type(2){
					bottom: 0 !important;
				}
			}
			& .close{
				visibility: visible;
			}
		}
	}
	& .contenedor{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: calc(100% - 12em);
		box-sizing: border-box;
		z-index: 1200;
		position: relative;
		@media(--tablet){
			width: calc(100% - 5em);
		}
		& .navbar{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& .menu{
				display: flex;
				justify-content: space-between;
				box-sizing: border-box;
				transition: 1s;
				@media(--tablet){
					position: fixed;
					left: 0;
					width: 100% !important;
					margin: 0 !important;
					height: 50vh;
					background: color(var(--colorPrincipal) a(50%));
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					& .item{
						color: white;
						font-size: 2rem;
						margin-bottom: 2em;
					}
					&:nth-of-type(1){
						top: -100%;
					}
					&:nth-of-type(2){
						bottom: -100%;
						top: inherit;
						justify-content: flex-start;
					}
				}
				& .item{
					text-decoration: none;
					font-family: var(--fuentePrincipal);
					text-transform: uppercase;
					color: var(--colorPrincipal);
					font-size: 1.2rem;
					margin-left: 2em;
					&.activo{
						position: relative;
						&:after{
							position: absolute;
							content: '';
							height: 2px;
							width: 100%;
							bottom: -5px;
							left: 0;
							background: var(--colorPrincipal);
							transition: .3s;
						}
					}
				}
			}
			& .logo{
				width: 15%;
				transition: 1.2s;
				@media(--tablet){
					margin: 0;
				}
			}
		}
		& .burger{
			background: none;
			border: none;
			cursor: pointer;
			display: none;
			transition: 1.2s;
			@media(--tablet) {
				display: block;
			}
			& img{
				width: 2rem;
			}
			&:focus{
				outline: none;
			}
		}
		& .close{
			background: none;
			border: none;
			position: absolute;
			color: white;
			font-size: 2.5rem;
			right: 0;
			visibility: hidden;
		}
	}
}

.margen{
	padding: 10em 6em 4em;
	height: 100vh;
	box-sizing: border-box;
}
.right{
	padding-left: 8em;
	& img{
		margin-left: 6em;
	}
}
.left{
	& img{
		margin-left: -6em;
	}
}

.hero{
	background: color(var(--colorPrincipal) shade(30%));
	overflow: hidden;
	& .margen{
		position: relative;
		& .fondo{
			position: absolute;
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: -1;
			& img{
				width: 50%;

			}
		}
		& .contenedor{
			z-index: 1000;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 4em;
			align-items: center;
			height: 100%;
			& .grid{
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 4em;
				align-items: center;
				margin-top: 3em;
				& .icono{
					&:first-child{
						width: 72.5%;
					}
				}
			}
			& .title{
				color: white;
				font-family: var(--fuentePrincipal);
				font-size: 5rem;
			}
			& .descripcion{
				color: white;
			}
		}
	}
}

.servicio{
	background: white;
	& .grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5em;
		& .head{
			display: flex;
			align-items: center;
			margin-bottom: 2em;
			& .icono{
				width: 10%;
				margin-right: 2em;
			}
			& .nombre{
				color: var(--colorSecundario);
				font-size: 2rem;
				font-family: var(--fuentePrincipal);
			}
		}
		& .body{
			& .lista{
				list-style: none;
				padding-left: 2em;
				& .item{
					margin-bottom: 1em;
					position: relative;
					&:before{
						content: '';
						width: 20px;
						height: 20px;
						background: var(--colorPrincipal);
						left: -2em;
						top: 0;
						position: absolute;
						border-radius: 50%;
					}
				}
			}
		}
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(100%);
	}		
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(100%);
	}		
	100% {
		-webkit-transform: translateY(0%);
	}	
}
